<div class="">
  <%= form_for(@pokemon_game) do |f| %>
    <%= f.label :pokemon_1 %>:
    <%= f.text_field :pokemon %><br />
    <%= f.submit 'add'%>
  <% end %>

  <%= form_for(@pokemon_game) do |f| %>
    <%= f.label :pokemon_2 %>:
    <%= f.text_field :pokemon %><br />
    <%= f.submit 'add' %>
  <% end %>

  <%= form_for(@pokemon_game) do |f| %>
    <%= f.label :pokemon_3 %>:
    <%= f.text_field :pokemon %><br />
    <%= f.submit 'add' %>
  <% end %>

  <%= form_for(@pokemon_game) do |f| %>
    <%= f.label :pokemon_4 %>:
    <%= f.text_field :pokemon %><br />
    <%= f.submit 'add' %>
  <% end %>

  <%= form_for(@pokemon_game) do |f| %>
    <%= f.label :pokemon_5 %>:
    <%= f.text_field :pokemon %><br />
    <%= f.submit 'add'%>
  <% end %>

</div>
