<%= form_for @pokemon_game, :html => {:class => "form-horizontal center"} do |f| %>
     <div class="form-group">
       <%= f.label :pokemon1, "Pokemon 1:", class: "col-md-4 control-label" %>
       <div class="col-md-8">
         <%= f.text_field :pokemon, class: "form-control" %>
       </div>
     </div>

     <div class="form-group">
       <%= f.label :pokemon2, "Pokemon 2:", class: "col-md-4 control-label" %>
       <div class="col-md-8">
         <%= f.text_field :pokemon, class: "form-control" %>
       </div>
     </div>

     <div class="form-group">
       <%= f.label :pokemon3, "Pokemon 3:", class: "col-md-4 control-label" %>
       <div class="col-md-8">
         <%= f.text_field :pokemon, class: "form-control" %>
       </div>
     </div>

     <div class="form-group">
       <%= f.label :pokemon4, "Pokemon 4:", class: "col-md-4 control-label" %>
       <div class="col-md-8">
         <%= f.text_field :pokemon, class: "form-control" %>
       </div>
     </div>

     <div class="form-group">
       <%= f.label :pokemon5, "Pokemon 5:", class: "col-md-4 control-label" %>
       <div class="col-md-8">
         <%= f.text_field :pokemon, class: "form-control" %>
       </div>
     </div>

     <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
<% end %>
