<div class="">
  <%= form_for Game.new do |f| %>
    <%= f.label :pokemon %>:
    <%= f.text_field :pokemon %><br />

    <%= f.label :pokemon %>:
    <%= f.text_field :pokemon %><br />

    <%= f.label :pokemon %>:
    <%= f.text_field :pokemon %><br />

    <%= f.label :pokemon %>:
    <%= f.text_field :pokemon %><br />

    <%= f.label :pokemon %>:
    <%= f.text_field :pokemon %><br />

    <%= f.label :pokemon %>:
    <%= f.text_field :pokemon %><br />

    <%= f.submit %>
  <% end %>
</div>
