<!DOCTYPE html>
<html>
  <head>
    <title>PokeFights</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">PokeFights</a></li>
        <% if user_signed_in? %>
          <li><a href="users/<%=current_user.id%>"><%= current_user.email %></a></li>
          <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
          <li><a href="/games">Start Playing!</a></li>
        <% else %>
          <li><%= link_to "register", new_user_registration_path %></li>
          <li><%= link_to "login", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
